.page-login,
.page-signup,
.page-password {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100vh;
  
    &__leftSection {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
        padding-top: 40px;
        @media screen and (max-width: 767px ){
            max-width: 100%;
            flex-basis: 100%;
        }
    }
  
    &__rightSection {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
        @media screen and (max-width: 767px ){
            display: none;
        }
    }
  
    &__content {
        display: flex;
        flex-direction: column;
        text-align: left;
        box-shadow: none;
  
        &--heading {
            margin-bottom: 20px;
            h1 {
                font-weight: normal;
            }
        }
  
        &--text {
            margin: 0;
        }
    }
  
    &__image {
        background-repeat: no-repeat;
        background-color: #fff;
        background-size: cover;
        background-position: center;
        background-image: url('../images/Img_Contact.png');
        height: 100%;
        width: 90%;
        margin: auto;
    }
  }
  